[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
[submodule "public"]
	path = public
	url = https://github.com/thevirtuoso1973/thevirtuoso1973.github.io.git
	branch = master
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
