<a href="/posts/index.xml">
  <img style="display: block; margin-left: auto; margin-right: auto;"
  src="/pic_rss.gif" width="36" height="14"></a>
<br>
<a href='https://github.com/thevirtuoso1973'>thevirtuoso1973's GitHub</a>
<br>
<a href='https://ko-fi.com/T6T2105I3' target='_blank'>
  <img height='36'
       style='display: block;
              margin-left: auto;
              margin-right: auto;
              border:0px;
              height:36px;'
       src='https://az743702.vo.msecnd.net/cdn/kofi5.png?v=2'
       border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
<br>
